*{
    margin: 0px;
    padding: 0px;    
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.container{
    display: flex;
}
img{
    height: 500px;
    border-radius: 20px;
    padding: 10px;
}